.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 800px;
    height: 600px;
    margin: 10px;
}

.container1 { 
    width: auto;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
     

}
.gradientday1 {
    width: auto;
    height: 50vh;
  
  
}
.alerts {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: red;
    margin-top:-720px;
    margin-left: 30px;


    

}
.sun {
    width: 100px;
    height: 100px;
    margin-top: -28px;
    margin-left: 114px;
}
.weathertext {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 25px;
    margin-top: -27px;
    margin-left: 35px;

}
h1 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -45px;
    font-size: 77px;
    margin-left: 35px;
}
.feels {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: -110px;
    margin-left: 155px;

}
.highlow {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: -20px;
    margin-left: 153px;

}
.date {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: -15px;
    margin-left: 33px;
    font-size: 20px;

}
.time {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -24px;
    margin-left: 30px;
    font-size: 20px;

}
#zip {
    position: absolute;
    top: 20px;
    right: 20px;
}

.location {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: bold;
    margin-top: 5px;
    margin-left: 3px;
    font-size: 30px;

}
.dailyinfo {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -40px;
    margin-left: 3px;
    font-size: 15px;

}
.precipitation {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 65px;
    margin-left: 20px;
    font-size: 12px;
}
.drop {
    width: 90px;
    height: 90px;
    margin-top: -29px;
    margin-left: -10px;

}
.numbpercent {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -62px;
    margin-left: 65px;
    font-size: 27px;
}
.snowtype {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -120px;
    margin-left: 110px;
    font-size: 12px;
}
.flake {
    width: 100px;
    height: 100px;
    margin-top: -28px;
    margin-left: 70px;
}
.numbpercent2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -72px;
    margin-left: 140px;
    font-size: 27px;
}
.hum {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 35px;
    margin-left: 25px;
    font-size: 12px;
}
.thermometer {
    width: 90px;
    height: 90px;
    margin-top: -29px;
    margin-left: -10px;
}
.numbpercent3 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -62px;
    margin-left: 65px;
    font-size: 27px;
}
.wind {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -93px;
    margin-left: 150px;
    font-size: 12px;
}
.breeze {
    width: 100px;
    height: 100px;
    margin-top: -28px;
    margin-left: 114px;
}
.numbpercent4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -72px;
    margin-left: 187px;
    font-size: 27px;
}
.date0 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 230px;
    margin-top: -355px;
    font-size: 25px;
    color: white;
    
    
}
.date1 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 391px;
    margin-top: -230px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}
.daily {
    display: inline;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
   
}
.background-11d {
    background: linear-gradient( 0.35turn,  #356F84, #3E4253, #2C2C24);
}
.background-01d  {
    background: linear-gradient( 0.15turn,  #5DB5D6,#DED714, #EAE103);
}
.background-03d {
    background: linear-gradient( 0.35turn,   #44617B, #7A8996 );
}
.background-02d {
    background: linear-gradient( 0.35turn,   #5DB5D6, #EAE103);
}
.background-04d {
        background: linear-gradient( 0.15turn,      #2B6A9D,  #6395D9, #9AA5B2,  #D2E064,#E2DEB5 );
}
.background-09d  {
    background: linear-gradient( 0.35turn,   #155893, #7A8996 );
}
.background-10d {
    background: linear-gradient( 0.35turn,   #155893, #549AD6);

}
.background-13d  {
    background: linear-gradient( 0.45turn,  #FDFEFF,  #4E9BDE,#155893 );
    
}
.background-50d  {
    background: linear-gradient( 0.35turn,   #485057,   #5C7183,#FDFEFF);
    
}
 
#day0 {
    width: 140px;
    height: 270px;
    margin-left: 192px;
    margin-top: -110px;

}

#day1 {
    width: 140px;
    height: 270px;
    margin-left: 350px;
    margin-top: -116px;

}

.strike {
    max-width: 100px;
    max-height: 100px;
    margin-top: 87px;
    margin-left: 16px;
}
.sun1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 70px;
    margin-left: -2px;
}
.mist1 {
    max-width: 100px;
    max-height: 100px;
    margin-top: 15px;
    margin-left: 16px;
}
.dailytemp0 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -20px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.dailytemp1 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -20px;
    margin-left: 22px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.drop0 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 170px;
}
.drop2 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 325px;
}
.numbpercent11 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -2px;
    margin-left: 30px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.numbpercent5 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 13px;
    margin-left: 27px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

#day2 {
    width: 140px;
    height: 270px;
    margin-left: 509px;
    margin-top: -119px;

}
.date2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -227px;
    margin-left: 555px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.cloud {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    margin-left: 1px;
}
.dailytemp2 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -33px;
    margin-left: 22px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.numbpercent6 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -2px;
    margin-left: 27px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.drop3 {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-left: 485px;
}
#day3 {
    width: 140px;
    height: 270px;
    margin-left: 666px;
    margin-top: -120px;

}
.date3 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -227px;
    margin-left: 710px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.mix {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    margin-left: 1px;
}
.snow1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 85px;
    margin-left: 1px;
}
.dailytemp3 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -30px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.numbpercent7 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -4px;
    margin-left: 27px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.drop4 {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-left: 640px;
}
#day4 {
    width: 140px;
    height: 270px;
    margin-left: 820px;
    margin-top: -120px;

}
.date4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -225px;
    margin-left: 872px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.cloud2 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    margin-left: 1px;
}
.scatteredclouds1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    margin-left: 1px;
}
.brokenclouds1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 70px;
    margin-left: 1px;
}
.dailytemp4 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -18px;
    margin-left: 25px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.numbpercent8 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -6px;
    margin-left: 26px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
#day5 {
    width: 140px;
    height: 270px;
    margin-left: 975px;
    margin-top: -120px;

}
.date5 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -225px;
    margin-left: 1028px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.drop5 {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-left: 795px;
}
.cloud3 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
    margin-left: 19px;
}

.dailytemp5 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -15px;
    margin-left: 25px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.numbpercent9 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -4px;
    margin-left: 25px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.drop6 {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-left: 949px;
}
#day6 {
    width: 140px;
    height: 270px;
    margin-left: 1130px;
    margin-top: -120px

}
.date6 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -225px;
    margin-left: 1179px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.sun2 {
    width: 130px;
    height: 130px;
    margin-top: 87px;
    margin-left: 26px;
}
.dailytemp6 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -26px;
    margin-left: 22px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}
.numbpercent10 {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -3px;
    margin-left: 27px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.drop7 {
    width: 80px;
    height: 80px;
    margin-top: -70px;
    margin-left: 1104px;
}
.dot1 {
    height: 20px;
    width: 20px;
    background-color: #3BD2D8;
    border-radius: 50%;
    display: inline-block;
    margin-left: 440px;
    margin-top: 15px;
}
.dew {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -73px;
    margin-left: 466px;
    font-size: 20px;

}
.dewnumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 570px;
    font-size: 20px;

}
.dot2 {
    height: 20px;
    width: 20px;
    background-color: #6C4EB1;
    border-radius: 50%;
    display: inline-block;
    margin-left: 550px;
    margin-top: 20px;
}
.pressure {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -2px;
    margin-left: 576px;
    font-size: 20px;

}
.pressurenumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 668px;
    font-size: 20px;

}
.air {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -89px;
    margin-left: 740px;
    font-size: 20px;

}
.airnumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 845px;
    font-size: 20px;

}
.dot3 {
    height: 20px;
    width: 20px;
    background-color: #3BD87D;
    border-radius: 50%;
    display: inline-block;
    margin-left: 250px;
    margin-top: -5px;
}
.uv {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -145px;
    margin-left: 740px;
    font-size: 20px;

}
.uvnumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 830px;
    font-size: 20px;

}
.dot4 {
    height: 20px;
    width: 20px;
    background-color: #CDD0B2;
    border-radius: 50%;
    float: left;
    margin-left: 850px;
    margin-top: -22px;
}
.uv {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -42px;
    margin-left: 1005px;
    font-size: 20px;

}
.uvnumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 1095px;
    font-size: 20px;

}
.dot5 {
    height: 20px;
    width: 20px;
    background-color: #E36E24;
    border-radius: 50%;
    margin-left: 978px;
    margin-top: -65px;
    float: left;
}
.visible {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -26px;
    font-size: 20px;
    margin-right: 340px;
    float: right;

}
.visiblenumber {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -46px;
    margin-left: 970px;
    font-size: 20px;
    float: left;

}
.sstext {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 193px;
    margin-left: 50px;
    font-size: 25px;
}

.sunphase {
    display: inline;
    grid-template-columns: 1fr 1fr 1fr;
}
.sun3 {
    width: 130px;
    height: 130px;
    margin-top: -184px;
    margin-left: 280px;
}
.sunrise {
    width: 130px;
    height: 130px;
    margin-top: 15px;
    margin-left: 90px;
}
.sunset {
    width: 150px;
    height: 150px;
    margin-top: -187px;
    margin-left: 490px;
}
.line {
    width: 30%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    transform: rotate(50deg);
    border-color: rgb(0, 0, 0);
}
.mtext {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 650px;
    font-size: 25px;
    margin-top: -52px;
}
.moonphase {
    display: inline;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.myfullmoon2 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 690px;
    float: left;
}
.myfullmoon {
    width: 130px;
    height: 130px;
    margin-top: -170px;
    margin-left: 685px;
    float: left;
    visibility: hidden;
}
.mywaxinggibbous2 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 760px;
    float: left;
    
}
.mywaxinggibbous {
    width: 130px;
    height: 130px;
    margin-top: -270px;
    margin-left: 760px;
    float: left;
    visibility: hidden;
    
}
.myquarter2{
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 815px;
    float: left;
    
    
}
.myquarter{
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 815px;
    float: left;
    visibility: hidden;
   
  
}
.mywaningcresent2 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 855px;
    float: left;
}
.mywaningcresent {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 855px;
    float: left;
    visibility: hidden;
  
}
.mynewmoon {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 915px;
    float: left;
}
.mynewmoon1 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 915px;
    float: left;
    visibility: hidden;
}
.mywaxingcresent2 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 978px;
    float: left;
    visibility: hidden;
}
.mywaxingcresent {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 978px;
    float: left;
    
}
.mylastquarter2 {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 1025px;
    float: left;
}
.mylastquarter {
    width: 130px;
    height: 130px;
    margin-top: -185px;
    margin-left: 1025px;
    float: left;
    visibility: hidden;
}
.mywaninggibbous2 {
    width: 130px;
    height: 130px;
    margin-top: -190px;
    margin-left: 1078px;
    float: left;
}
.mywaninggibbous {
    width: 130px;
    height: 130px;
    margin-top: -190px;
    margin-left: 1078px;
    float: left;
    visibility: hidden;
}
.sunrisetime {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 105px;
    font-size: 25px;
    margin-top: -65px;
}
.sunsettime {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 516px;
    font-size: 25px;
    margin-top: -58px;
}
.phase {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 756px;
    font-size: 15px;
    margin-top: -133px;
}
.weatherradar {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 40px;
    font-size: 25px;
    margin-top: 198px;
}
.radar {
    width: 800px;
    height: 500px;
    margin-top: -25px;
    margin-left: 40px;
   
}
.weatheralerts {
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 812px;
    font-size: 25px;
    margin-top: -612px;
}
.weatherhead {
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 850px;
    font-size: 15px;
    margin-top: -12px;
    color: red;
}
.alerttext{
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 850px;
    font-size: 15px;
    margin-top: -12px;
   
}

#meta {
    margin-top: 590px;

}
.locationname {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 195px;
    margin-left: 25px;
   
}
.locationcordlong {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -15px;
    margin-left: 25px;
   
}
.locationcordlat {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: -15px;
    margin-left: 25px;
   
}
img {
    max-width: 100%;
    max-height: 100%;
}
